<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="bodyFlick" onload="loadFavourites();">

  <header>
    <div class="headerBar">
      <!-- <button class="logoutBut" type="button" name="logout">
        <img class="logoutBut"  src="/public/images/logoutbutton.png" alt="Logo" onClick="logout()"/>
      </button> -->
      <div class="dropdown" id="seriesContainer">
        <button onclick="showDropdown()" class="genreButton">Account</button>
        <div id="myDropdown" class="dropdown-content">
          <a onClick="modifyUser()" class="genericSelectButton">Settings</a>
          <a onClick="logout()" class="genericSelectButton">Logout</a>
        </div>
      </div>

      <img class="backBut" onclick="goHomeMovies()" src="/public/images/backbutton.png" alt="Back Button"/>

    </div>

  </header>

  <main>
    <div >
      <div>
        <div>
          <!-- Page to display a single profile. The "user" object is passed through from express -->
          <!-- get the first name -->
          <h1 class="loginHead fullName"><%= user.name.first %> <%= user.name.last %></h1>
          <!-- get the username -->
          <h2 class="username"><%= user.login.username %></h2>
        </div>
      </div>

      <div>
        <h4 class="favHeader">Favourite Movies</h4>
        <!-- <div class="favMovies" id="moviesFav"> -->
          <div id="resultsbox"  >
            <div id="results" class="resultDiv favContainer movieFavs">
            <%for (var favourite in user.favourites){%>
              <% if (user.favourites[favourite].favouriteMedia.type == "movie") { %>
                    <div id="<%=user.favourites[favourite].favouriteMedia.mediaId %>" class="favMedia"><%=favourite%>:<%=user.favourites[favourite].favouriteMedia.mediaId %></div>
                <%}%>
                <%}%>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </br>
        <div>
          <h4 class="favHeader">Favourite Series</h4>
          <div>
            <div id="resultsbox"  >
              <div id="results" class="resultDiv favContainer seriesFavs">
              <%for (var favourite in user.favourites){%>
                <% if (user.favourites[favourite].favouriteMedia.type !== "movie") { %>
                      <div id="<%=user.favourites[favourite].favouriteMedia.mediaId %>" class="favSeries"><%=favourite%>:<%=user.favourites[favourite].favouriteMedia.mediaId %></div>
                  <%}%>
                  <%}%>
                </div>
              </div>

          </div>
        </main>

        <% include ../partials/upButton %>

        <footer>
          <% include ../partials/footer %>
        </footer>

      </body>

      </html>
