<!DOCTYPE html>
<html lang="en">

<!--Standard header code -->
<head>
  <% include ../partials/head %>
</head>

<body class="bodyFlick">

  <!--header tag to display dropdown menu. This lets the user select their
    account settings or to logout.-->
  <header>
    <div class="headerBar">
      <div class="dropdown" id="seriesContainer">
        <button onclick="showDropdown()" class="genreButton">Account</button>
        <div id="myDropdown" class="dropdown-content">
          <a onClick="modifyUser()" class="genericSelectButton">Settings</a>
          <a onClick="logout()" class="genericSelectButton">Logout</a>
        </div>
      </div>

      <!--Back button displayed here -->
      <img class="backBut" onclick="goHomeMovies()" src="/public/images/backbutton.png" alt="Back Button"/>
    </div>
  </header>

  <main>
    <div>
      <div>
        <div>
          <!-- Page to display a single profile. The "user" object is passed through from express -->
          <!-- get the first name and the username -->
          <h1 class="loginHead fullName"><%= user.name.first %> <%= user.name.last %></h1>
          <h2 class="username"><%= user.login.username %></h2>
        </div>
      </div>

      <div>
        <!--This section is to display the users favourite movies -->
        <h4 class="favHeader" id="movieText">Favourite Movies Will Appear Here When Added</h4>
        <div id="resultsbox"  >
          <div id="results" class="resultDiv favContainer movieFavs">
            <%for (var favourite in user.favourites){%>
              <% if (user.favourites[favourite].favouriteMedia.type == "movie") { %>
                <div id="<%=user.favourites[favourite].favouriteMedia.mediaId %>" class="favMedia"><%=favourite%>:<%=user.favourites[favourite].favouriteMedia.mediaId %></div>
              <%}%>
            <%}%>
          </div>
        </div>
      </div>

      </br>

      <div>
        <!--This section is to display the users favourite series -->
        <h4 class="favHeader" id="seriesText">Favourite Series Will Appear Here When Added</h4>
        <div id="resultsbox"  >
          <div id="results" class="resultDiv favContainer seriesFavs">
            <%for (var favourite in user.favourites){%>
              <% if (user.favourites[favourite].favouriteMedia.type !== "movie") { %>
                <div id="<%=user.favourites[favourite].favouriteMedia.mediaId %>" class="favSeries"><%=favourite%>:<%=user.favourites[favourite].favouriteMedia.mediaId %></div>
              <%}%>
            <%}%>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--Partial code for the back to top button -->
  <% include ../partials/upButton %>

  <!--Partial code for the footer-->
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
