<!DOCTYPE html>
<html>

<header>
  <% include ../partials/head %>
</header>


<body class="bodyFlick">
  <header>
    <div class="headerBar">
      <img class="backBut" onclick="openAccount()" src="/public/images/backbutton.png" alt="Back Button"/>
    </div>

  </header>

  <main>
    <div class="jumbotron">

      <div class="loginLogo">
        <img src="/public/images/logo.png" class="SiteLogo">
      </div>

      <!-- form with entry box for each bit of inomfrtaion we want from our user. -->
      <h3>Edit Info</h3>

      <!-- submits to our /adduser route. -->
      <form action="/updateUser" method="POST">
        <h4>Name</h4>
        <input type="text" placeholder="First Name" name="first" class="searchInput" value="<%= user.name.first %>">
        </br>
        <input type="text" placeholder="Last Name"  name="last" class="searchInput" value="<%= user.name.last %>">
        </br><h4>Login</h4>
        <input type="Email" placeholder="me@example.com" name="email" class="searchInput" value="<%= user.email %>">
        </br>
        <input type="text" placeholder="Username"     name="username" class="searchInput" value="<%= user.login.username %>">
      </br>
      <input type="currentPassword" placeholder="Current Password" name="currentPassword" class="searchInput">
      <input type="favouritesHolder" placeholder="Favourites" name="favouritesHolder" class="hiddenInput" value="<%= user.favourites %>">
      </br>
      <input type="password" placeholder="New Password"  name="password" class="searchInput">

      </br><button type="submit" class="submitButton">Update</button>
    </form>

<br>
<br>


<form action="/delete" method="POST"><button type="submit" class="submitButton">Delete Account</button></form>



</div>
</main>

<% include ../partials/upButton %>


<footer>
  <% include ../partials/footer %>
</footer>

</body>

</html>
